<h1>Platforms</h1>
<div class="platforms">
{{#tabs-container as |tab|}}
  {{#tab.panel title="Binary"}}Hello, I'm binary part active{{/tab.panel}}
  {{#tab.panel title="Forex"}}Hello, I'm forex part active{{/tab.panel}}
{{/tabs-container}}

<div class="cross-links">
  {{link-to "Create account" "account" class="btn"}}
</div>
</div>